/* src/index.css */
@import "tailwindcss";
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #ff158a;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-bottom: 20px;
}



